
@import url(https://fonts.googleapis.com/css?family=Acme);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



 body {

  background: url('/assets/brickwall.png');
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}


.navbar {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  border-radius: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: url('/assets/dark_Tire.png');


}

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:570px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
  background:rgba(0,0,0, 0.5);
  color:white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

frosty h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.logo  {
  height: 250%;
  margin-top: -12px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}

.booyah-box h2, .booyah-box h1 {
  margin:10px;
}

.appname {
  font-family: 'Acme', sans-serif;
  font-size: 65px;
  margin-top: 5px;
}

.clr {
  clear:both;
}